.friend-list .item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: yellow;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.status {
  width: 15px;
  height: 15px;
  margin-right: 15px;
  border-radius: 50%;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.avatar {
  margin-left: 10px;
}

.name {
  margin-left: 20px;
}

.friend-list {
  margin-top: 50px;
}
