.transaction-history {
  border: 3px solid black;
  width: 360px;
  margin: 60px auto;
  padding: 10px;
}

.transaction-history th,
.transaction-history td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid black;
}
